.App {
  text-align: center;
  height:100svh;
  background: rgb(173,173,173);
  background: radial-gradient(circle, rgb(173,173,173,1) 0%, rgba(103,103,103,1) 30%, rgba(2,0,36,1) 100%);
}

.App header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cBody{
  background: rgb(93, 163, 177);
}

.card{
  display: inline-flex;
  justify-content: center;
  margin-top: 3rem;
  width: 20vw;
}

@media (max-width:600px) {
  .card{
    display: inline-flex;
    justify-content: center;
    min-width: 50vw;
  }
}

.content {
  display: inline-block;
  font-family: monospace;
  position: absolute;
  background: rgb(100, 100, 100);
  color: rgb(0, 197, 0);
  width: 50%;
  margin: auto;
  padding: 1em;
  border-radius: 15px;
  z-index: 2;
} 

.intro {
  align-items: center;
  display: flex;
  justify-content: center; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

}

.instructions a {
  display: inline-block;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}

.intro:target {
  visibility: visible;
  opacity: 1;
}
.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fe0606;
  text-decoration: none;
  font-size: 30px;
}